<configuration>
    <appender name="APPLICATION_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/application.log</file>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>archived_logs/application-%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>
    <appender name="ACCESS_LOG_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/access.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger- %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>archived_logs/access.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>


    <logger name="tr.gov.bilgem.restpractice.config.ApplicationEventListener" level="INFO">
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </logger>
    <logger name="tr.gov.bilgem.restpractice.config.RequestLoggingInterceptor" level="INFO">
        <appender-ref ref="ACCESS_LOG_FILE" />
    </logger>
    <logger name="tr.gov.bilgem.restpractice.failure.FailureReporter" level="FATAL">
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </logger>
    <logger name="tr.gov.bilgem.restpractice.config.ApiLoggingFilter" level="INFO">
        <appender-ref ref="APPLICATION_LOG_FILE"/>
    </logger>


    <root level="debug">
        <appender-ref ref="APPLICATION_LOG_FILE" />
    </root>
</configuration>